/*

  CSS styles to override the default React Tabulator CSS files.
  Keep the other css import on the UsersTable.js file as these
  CSS properties only override and don't completely replace those.

*/

.tabulator {
  border: none;
}

.tabulator .tabulator-header .tabulator-col {
  border-right: none;
  background: #FFF;
  font-size: 12px;
  text-align: left;
}

.tabulator-sortable {
  height: auto !important;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
  padding: 8px;
}

.tabulator .tabulator-header {
  border-bottom: 1px solid #0A2E4D;
  color: #0A2E4D;
  font-weight: 700;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="asc"] .tabulator-col-content .tabulator-arrow {
  border-bottom: 6px solid #0668D9;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="desc"] .tabulator-col-content .tabulator-arrow {
  border-top: 6px solid #0668D9;
}

.tabulator-row {
  background-color: transparent;
  height: auto;
  min-height: auto;
  border-bottom: 1px solid rgba(10,46,77,0.1);
}

.tabulator-row.tabulator-selectable:hover {
  background-color: rgba(10,46,77,0.1);
}

.tabulator-cell {
  height: auto;
}

.tabulator-row.tabulator-row-even {
  background-color: transparent;
}

.tabulator-row .tabulator-cell {
  padding: 8px;
  border-right: none;
}
